*{
    margin: 0;
    padding: 0;

}

main{
    width: 1000px;
    margin-inline: auto;
    
    

}

ul li{
    list-style: none;
    display:inline-block;
    margin-inline: 10px;
    

}

nav{
    background-color: rgb(179, 179, 197);
    display: flex;
    justify-content: center;
}

ul li:hover{
    background-color: grey;
}
a{
    text-decoration: none;
    color: black;
    font-size:18px;
    
}